.column-actions {
    text-align: center !important;
}

.button-delete, .button-delete:active, .button-delete:focus, .button-delete:after {
    color: #f44336;
    background: transparent;
    border: none;
    box-shadow: none;
}

.button-delete:hover {
    color: #ef5350;
}