.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.logout {
    background-color: #e53935;
}

.ant-menu-item.logout:hover{
    background-color: #ef5350;
}

.logout span, .logout i {
    color: white;
}

.outer {
	width: 100%;
  white-space:nowrap;
  overflow:hidden;
}
.left, .right {
	display:inline-block;
}
.left {
	width: auto;
}
.right {
  width: 100%;
}